extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-projects
    .inner-wrapper.flex-row-wrap.two-col
      .project-info-box.box

        h1= project.project_name

        p= project.description

      .project-tech-links-box.box
        h6 Technologies
        ul
        each technology in project.technologies
          li= technology

        a.btn-link(href=project.live_link, target='_blank') Live Demo
        a.btn-link(href=project.github_link, target='_blank') GitHub Repo

    .project-img-box.box

      each image, index in project.image_urls
        if index > 0
          img.project-img(src=`/static/${image}`, alt=`Image for ${project.project_name}: ${index}`)

    nav.nav
      a(href='/')
        span &larr;
        |  Back